@import "variables.scss";
@import "./components/header_bar.scss";
@import "./components/frame_rotator.scss";
@import "./views/edit.scss";


body {
  padding: 0;
  margin: 0;
  background: $lightGrey;
  color: $almostDark;
}

.non-button {
  border: none;
  background: none;
}

.red {
  color: $red;
}

.primary {
  background: $primary;
  color: $white;
}
.error {
  background: $error;
  color: $white;
}
.warning {
  background: $warning;
  color: $white;
}
.success {
  background: $success;
  color: $white;
}
